* {
    margin: 0;
    scroll-behavior: smooth;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.dark-theme{
    background-color: rgba(0, 0, 0, 0.692);
    color:white !important;

}
/* Firefox */
/* input[type="number"] {
    -moz-appearance: textfield;
} */

.greenColor {
    color: green !important;
}

.redColor {
    color: red !important;
}
